*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.bak
*.ko.cmd
*.mod.cmd
*.mod
*.Module.symvers.cmd
*.modules.order.cmd
modules.builtin
Module.symvers
.tmp_versions/
